@keyframes changeShape {
  0% {
    border-radius: 64% 36% 63% 37% / 43% 41% 59% 57%;
  }
  25% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  75% {
    border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
  }
  100% {
    border-radius: 64% 36% 63% 37% / 43% 41% 59% 57%;
  }
}

@keyframes slideText {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes titleUnderline {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

.title-underline {
  animation: titleUnderline 1s ease-out;
}

.text-cover {
  animation: slideText 1s ease-in;
}

.hero-img-container {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: changeShape 10s infinite;
}
