/* Load Urbanist and Comfortaa font */

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

/**
 * These directives tell Tailwind to include the base styles for the project,
 * any components that are used, and any utilities that are used.
 * So don't remove them!
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #d4dcdd;
  font-family: "Ojuju", "sans-serif";
}
* {
  scroll-behavior: smooth;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #1e1b18 #d4dcdd;
}
::-moz-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
}
::-moz-scrollbar-thumb {
  background-color: #1e1b18;
}
::-webkit-scrollbar-thumb {
  background-color: #1e1b18;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
}
*::-webkit-scrollbar-button {
  display: none; /* Masquer les flèches de défilement */
}
